<div class="container">
	<div class="row">
		<div class="col-md-8 offset-md-2">
			<div class="card">
				<div class="card-body">
					<h3 class="card-title text-center"><%= @user.name %></h3>
					  <p>Email: <%= @user.email %></p>
						<h5>User's articles </h5>
						<ul class="list-group">
							<% @user.posts.each do |post| %>

							<li class="list-group-item"><%= link_to post.title, post_path(post) %></li>
							<% end %>
						</ul>
				 </div>
				 <div class="card-footer">
						<%= link_to '<i class="fas fa-arrow-left"></i> Back to All Users'.html_safe, users_path, class: 'btn btn-outline-secondary btn-sm'  %>
						<%= link_to '<i class="fas fa-arrow-left"></i> Edit profile'.html_safe, edit_user_path(@user), class: 'btn btn-outline-primary btn-sm float-right'  %>
				 </div>
			</div>
		</div>
	</div>
</div>
