<div class="row">
  <div class="col-3 pr-0 ">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active bg-light text-secondary" id="v-pills-academy-tab"
                data-toggle="pill" href="#v-pills-academy" role="tab"
                aria-controls="v-pills-academy" aria-selected="true">La Academy</a>
      <a class="nav-link bg-light text-secondary" id="v-pills-docenti-tab"
                data-toggle="pill" href="#v-pills-docenti" role="tab"
                aria-controls="v-pills-docenti" aria-selected="false">I docenti</a>
      <a class="nav-link bg-light text-secondary" id="v-pills-lavora-tab"
                data-toggle="pill" href="#v-pills-lavora" role="tab"
                aria-controls="v-pills-lavora" aria-selected="false">Lavora con noi</a>
    </div>
  </div>
  <div class="col-9 ">
    <div class="tab-content " id="v-pills-tabContent">
      <div class="tab-pane fade show active " id="v-pills-academy"
      role="tabpanel" aria-labelledby="v-pills-academy-tab">
      <h4>Corsi di formazione professionale, da professionisti per professionisti</h4><br>
      <p class="text-justify">La Ascheri Academy, coordinata da Guido Ascheri, nasce dal
        gruppo di professionisti che collaborano alle attività dello studio Ascheri &
        Partners e dello Studio Legale Adam Nelson di Londra, e da anni di esperienza
        nella organizzazione di eventi di formazione professionale.
        <br><br>Rendiamo i principi dell’apprendimento parte della nostra visione e dei
        nostri valori, offrendo corsi di formazione professionale principalmente rivolti
         ad avvocati, commercialisti e consulenti. La nostra formazione gratuita e si
         svolge completamente online, permettendo di coniugare le necessità formative
         alle proprie esigenze di lavoro. Gli eventi vengono registrati e sono
         disponibili on demand, mentre i materiali utilizzati sono pubblicati sul
         nostro sito.</p>
         <% if !current_user %>
        <p><%= link_to 'Iscriviti alla Ascheri Academy',
          signup_path, class:"btn btn-sm btn-primary" %>
          <%= link_to 'Vai agli eventi formativi',
            formazione_path, class:"btn btn-sm btn-primary" %></p>
            <% else %>
            <%= link_to 'Vai agli eventi formativi',
              formazione_path, class:"btn btn-sm btn-primary" %>
            <% end %>
      </div>
      <div class="tab-pane fade" id="v-pills-docenti"
      role="tabpanel" aria-labelledby="v-pills-docenti-tab">
        <div class="card ">
          <div class="card-header text-center text-white bg-custom">
            <h6>I nostri docenti</h6>
          </div>
          <div class="card-body row">
            <% @speakers.each do |speaker| %>
                <%= link_to (image_tag speaker.speaker_img.url(:preview), size: "120x150"), speaker,class: "img-fluid post-img mr-1" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="v-pills-lavora"
      role="tabpanel" aria-labelledby="v-pills-lavora-tab">
      <h4>Lavora con noi</h4><br>
      <p class="text-justify">Ascheri Academy è sempre alla ricerca di professionisti
        qualificati ed entusiasti del loro lavoro, interessati a tenere uno o più corsi
        su una tematica di loro interesse e competenza. <br><br>
        Per candidarsi è necessario completare il formulario in calce a questa pagina.
        Si prega di fornire un titolo provvisorio e un breve programma per i corsi
        proposti; titolo e programma potranno essere modificati successivamente. A
        seguito della ricezione del formulario, sarete contattati per un appuntamento
        telefonico. <br><br>
        Chiediamo a tutti gli interessati di leggere attentamente la regolamentazione
        della collaborazione con Ascheri Academy, che può essere consultata qui.</p>
        <hr>

        <div class="card">
  				<div class="card-body">
  					<h3 class="card-title text-center"></h3>
              <%= form_tag '/lavora' do  %>
                <div class="form-group">
                  <%= label_tag 'nome completo (obbligatorio)' %>
                  <%= text_field_tag :nome_completo,'', class: "form-control", required: true %>
                </div>

                <div class="form-group">
                  <%= label_tag 'professione (obbligatorio)' %>
                  <%= text_field_tag :professione,'', class: "form-control", required: true  %>
                </div>

                <div class="form-group">
                  <%= label_tag 'e-mail (obbligatorio)' %>
                  <%= email_field_tag :email,'', class: "form-control", required: true  %>
                </div>

                <div class="form-group">
                  <%= label_tag 'telefono' %>
                  <%= text_field_tag :telefono,'', class: "form-control" %>
                </div>

                <div class="form-group">
                  <%= label_tag 'Indirizzo dello studio' %>
                  <%= text_field_tag :indirizzo, '', class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= label_tag 'Città e CAP' %>
                  <%= text_field_tag :citta_e_cap, '', class: 'form-control' %>
                </div>

                <div class="form-group">
                  <%= label_tag 'Materie di specializzazione (obbligatorio)' %>
                  <%= text_area_tag :mat_special, '', class: 'form-control', required: true  %>
                </div>

                <div class="form-group">
                  <%= label_tag 'Proposta di Webinar (obbligatorio)' %>
                  <%= text_area_tag :prop_webinar, '', class: 'form-control', required: true  %>
                </div>

                <div class="clearfix"><br /></div>

                <div class="row justify-content-center">
                  <%= submit_tag 'Send', class: 'btn btn-primary' %>
                </div>
              <% end %>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
