<div class="row">
  <div class="col-3 pr-0 ">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link active bg-light text-secondary" id="v-pills-archivio-tab"
                data-toggle="pill" href="#v-pills-archivio" role="tab"
                aria-controls="v-pills-archivio" aria-selected="true">Archivio</a>
      <a class="nav-link bg-light text-secondary" id="v-pills-breviaria-tab"
                data-toggle="pill" href="#v-pills-breviaria" role="tab"
                aria-controls="v-pills-breviaria" aria-selected="false">Breviaria</a>
      <a class="nav-link bg-light text-secondary" id="v-pills-webinar2-tab"
                data-toggle="pill" href="#v-pills-webinar2" role="tab"
                aria-controls="v-pills-webinar2" aria-selected="false">Webinar</a>
    </div>
  </div>
  <div class="col-9 ">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-archivio"
      role="tabpanel" aria-labelledby="v-pills-archivio-tab">
      <h4 class="text-center">Da professionisti per professionisti</h4><br>
          <div class="card ">
            <div class="card-header text-center text-white bg-custom">
              <h6>Webinar Archivio</h6>
            </div>
            <div class="card-body row">
              <div class="col-6">
                <%= image_tag 'https://ascheri-academy.s3.eu-west-2.amazonaws.com/achivio.png', class:'img-fluid rounded' %>
              </div>
              <div class="col-6"><br>
                <p class="text-center m-3">In questa sezione trovi il programma e le slide dei webinar gia’ trasmessi</p>
                <p class="text-center speaker_name">
                  <%= link_to "Vedi archivio", archivio_path, class:"btn btn-outline-primary btn-sm" %>
                </p>
              </div>
            </div>

        </div>
      
      </div>
      <div class="tab-pane fade" id="v-pills-breviaria"
      role="tabpanel" aria-labelledby="v-pills-breviaria-tab">
      <h4 class="text-center">Videocorsi online, preparati dai nostri docenti</h4><br>
      <p class="text-justify"></p>
        <p><%#= link_to '<i class="fas fa-book-open "></i> Iscriviti alla Ascheri Academy'.html_safe,
          signup_path, class:"btn btn-sm btn-primary" %></p>
      </div>
      <div class="tab-pane fade" id="v-pills-webinar2"
      role="tabpanel" aria-labelledby="v-pills-webinar2-tab">
      <h4 class="text-center">Webinar, seminari online in teleconferenza</h4><br>
      <div class="clear-fix"><br></div>
        <div class="row ">
          <div class="col-4">
            <div class="card">
              <div class="card-header text-center text-white bg-custom">
                <h6><%= @category.category_name %></h6>
              </div>
              <%= image_tag @category.category_img.url(:preview), class:"card-img-top" %>

              <div class="card-footer text-center speaker_name">
                <%= link_to "In ordine di data", category_path(@category) %>
              </div>
            </div>
          </div><br>

            <% @categories.drop(1).each do |cat| %>
              <div class="col-4">
              <div class="card">
                <div class="card-header text-center text-white bg-custom">
                  <h6><%= cat.category_name %></h6>
                </div>
                <%= image_tag cat.category_img.url(:preview), class:"card-img-top" %>
                <div class="card-footer text-center speaker_name">
                  <%= link_to "Elenco Webinar", category_path(cat) %>
                </div>
              </div><br>
              </div>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
