<div class="row">
  <div class="col-3 pr-0 ">
    <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <a class="nav-link bg-light text-secondary <%= "active" unless params.has_key?(:tab) || params.has_key?(:webinars_page)%>" id="v-pills-come-funziona-tab"
                data-toggle="pill" href="#v-pills-come-funziona" role="tab"
                aria-controls="v-pills-come-funziona" aria-selected="true">Come funziona</a>
      <a class="nav-link bg-light text-secondary <%= "active" if params[:tab] == 'v-pills-webinar' %>" id="v-pills-webinar-tab"
                data-toggle="pill" href="#v-pills-webinar" role="tab"
                aria-controls="v-pills-webinar" aria-selected="false">Webinars</a>
      <a class="nav-link bg-light text-secondary <%= "active" if params[:tab] == 'v-pills-webcasts' %>" id="v-pills-webcasts-tab"
                data-toggle="tab" href="#v-pills-webcasts" role="tab"
                aria-controls="v-pills-webcasts" aria-selected="false">Webcasts</a>
      <a class="nav-link bg-light text-secondary <%= "active" if params[:tab] == 'v-pills-masters' %>" id="v-pills-masters-tab"
                data-toggle="tab" href="#v-pills-masters" role="tab"
                aria-controls="v-pills-masters" aria-selected="false">Masters</a>
      <a class="nav-link bg-light text-secondary <%= "active" if params[:tab] == 'v-pills-quaderni' %>" id="v-pills-quaderni-tab"
                data-toggle="tab" href="#v-pills-quaderni" role="tab"
                aria-controls="v-pills-quaderni" aria-selected="false">Quaderni</a>
      <a class="nav-link bg-light text-secondary <%= "active" if params[:tab] == 'v-pills-archivio' %>" id="v-pills-archivio-tab"
                data-toggle="tab" href="#v-pills-archivio" role="tab"
                aria-controls="v-pills-archivio" aria-selected="false">Archivio</a>
    </div>
  </div>
  <div class="col-9 ">
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade  <%= "active show" unless params.has_key?(:tab) || params.has_key?(:webinars_page) %>" id="v-pills-come-funziona"
       role="tabpanel" aria-labelledby="v-pills-come-funziona-tab">
          <div class="card ">
            <div class="card-body">
              <h5 class="text-center">Corsi di formazione professionale gratuita per professionisti ed imprese</h5>
              <br>
              <h5><i class="fas fa-users fa-lg text-warning"></i> Corsi online in teleconferenza</h5>
              <br>
              <p class="text-indent">Il partecipante ha la possibilità di seguire il corso dal proprio studio utilizzando il computer e/o smartphone. L’iscritto potrà interagire attivamente facendo domande al Relatore sia per iscritto, utilizzando una apposita chat, sia a voce. In caso di domande successive all’evento, i partecipanti potranno contattare la Academy via mail.</p>
              <br>
              <h5><i class="fas fa-book fa-lg text-warning"></i> Corsi accreditati</h5>
              <br>
              <p class="text-indent">I corsi accreditati sono indicati nella pagina “Formazione” con la dicitura “Richiesta di accreditamento in corso”, oppure “Accreditato”. In caso di accreditamento da parte del CNF, per ottenere il certificato di partecipazione al corso l’iscritto dovrà rispondere positivamente ai quesiti proposti durante il Webinar. Ascheri Academy non sarà responsabile dell’eventuale mancato accreditamento dei Webinar, che è sempre a discrezione degli appositi Organi.</p>
              <br>
              <h5><i class="fas fa-comments fa-lg text-warning"></i> Materiale informativo gratuito</h5>
              <br>
              <p class="text-indent">Al termine di ogni corso, previa registrazione, il partecipante potrà scaricare il materiale informativo e rivedere le registrazioni sul nostro canale Youtube. I programmi, le registrazioni e i materiali relativi ai Webinar già trasmessi sono disponibili nella sezione “Archivio“. Le pubblicazioni basate sui Webinar sono invece disponibili nella sezione “Quaderni”.</p>
              <br>
              <h5><i class="fas fa-calendar-alt fa-lg text-warning"></i> Nuovi corsi ogni settimana</h5>
              <br>
              <p class="text-indent">L’offerta formativa di Ascheri Academy viene aggiornata regolarmente, con nuovi corsi, argomenti e docenti. Con la nostra newsletter è possibile ricevere informazioni sui corsi in programma ogni settimana e sulle più importanti novità fiscali e societarie internazionali. Non perderti le nuove offerte formative e iscriviti alla newsletter qui.</p>
            </div>
        </div>
      </div>

      <div class="tab-pane fade <%= "active show" if params[:tab] == 'v-pills-webinar' || params[:webinars_page]  %>" id="v-pills-webinar"
      role="tabpanel" aria-labelledby="v-pills-webinar-tab">
        <h4 class="text-center">Webinars – 2022</h4><br>
        <table class="table table-hover"">
          <thead class="">
            <tr class=" text-center">
              <th class="bg-light ">Titolo</th>
              <th class="bg-light" style='width: 145px;'>Relatore</th>
              <th class="bg-light" style='width: 140px;'>Date</th>
              <th class="bg-light" style='width: 100px;'>Dettagli</th>
              <th class="bg-light" style='width: 100px;'><i class="fas fa-graduation-cap"></i></th>
            </tr>
          </thead>

          <tbody>
            <% @webinars.each do |webinar| %>
              <tr>
                <td class="align-middle"><%= webinar.title %></td>
                <td><% webinar.speakers.each do |speaker| %>
                    <%= link_to speaker.speaker_name, speaker_path(speaker), class:'text-decoration-none'  %><br>
                    <% end %></td>
                <td class="text-center align-middle"><%= webinar.date_from.strftime('%e - %b - %Y') %><br>
                  alle <%= webinar.date_from.strftime('%H : %M') %>
                        </td>
                <td class="text-center align-middle"><%= link_to '<i class="fas fa-plus-circle fa-lg"></i> Info'.html_safe, webinar_path(webinar, webinars_page: params[:webinars_page]), class:'btn btn-outline-primary btn-sm' %></td>
                <td class="text-center align-middle"> <%= webinar.accreditated %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
          <%= will_paginate(@webinars, :param_name => 'webinars_page', :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer, class: 'justify-content-center d-flex', :tab => 'v-pills-webinar') %>
      </div>

      <div class="tab-pane fade <%= "active show" if params[:tab] == 'v-pills-webcasts' %>" id="v-pills-webcasts"
      role="tabpanel" aria-labelledby="v-pills-webcasts-tab">
        <h4 class="text-center">Webcasts – 2022</h4><br>
          <div class="clear-fix"><br></div>
            <div class="row ">

            </div>
        </div>
        <div class="tab-pane fade <%= "active show" if params[:tab] == 'v-pills-masters' %>" id="v-pills-masters"
        role="tabpanel" aria-labelledby="v-pills-masters-tab">
          <h4 class="text-center">Masters – 2022</h4><br>
            <div class="clear-fix"><br></div>
              <div class="row ">

              </div>
          </div>
          <div class="tab-pane fade <%= "active show" if params[:tab] == 'v-pills-quaderni' %>" id="v-pills-quaderni"
          role="tabpanel" aria-labelledby="v-pills-quaderni-tab">
            <h4 class="text-center">Quaderni – 2022</h4><br>
              <div class="clear-fix"><br></div>
                <div class="row ">

                </div>
            </div>
            <div class="tab-pane fade <%= "active show" if params[:tab] == 'v-pills-archivio' %>" id="v-pills-archivio"
            role="tabpanel" aria-labelledby="v-pills-archivio-tab">
              <h4 class="text-center">Archivio</h4><br>
                <div class="clear-fix"><br></div>
                  <div class="row ">

                  </div>
              </div>
      </div>
    </div>
  </div>
