<%= form_with(model: upload, local: true) do |form| %>
  <% if upload.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upload.errors.count, "error") %> prohibited this upload from being saved:</h2>

      <ul>
      <% upload.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :upload %>
    <%= form.file_field :upload %>
  </div>

  <div class="field">
    <%= form.label :webinar %>
    <%= form.collection_select( :webinar_id, Webinar.all, :id, :title, prompt: true) %>
  </div>

  <div class="field">
    <%= form.label :speaker %>
    <%= form.collection_select( :speaker_id, Speaker.all, :id, :speaker_name, prompt: true) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
