<%= form_with(model: speaker, local: true) do |form| %>
  <% if speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :first_name %>
    <%= form.text_field :first_name %>
  </div>

  <div class="field">
    <%= form.label :last_name %>
    <%= form.text_field :last_name %>
  </div>

  <div class="field">
    <%= form.label :profession_1 %>
    <%= form.text_field :profession_1 %>
  </div>

  <div class="field">
    <%= form.label :profession_2 %>
    <%= form.text_field :profession_2 %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :speaker_img %>
    <%= form.file_field :speaker_img %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
