<div class="row">
  <div class="col-4 my-auto">
    <% if @speaker.speaker_img.url%>
    <%= image_tag @speaker.speaker_img.url(:preview), class: "img-fluid  mx-auto post-img" %>
    <% end %>
  </div>
  <div class="col-8">
    <h4>  <%= @speaker.speaker_name %></h4>
    <h6><%= @speaker.profession_1 %> <br> <%= @speaker.profession_2 %></h6><br>
      <p class="text-justify">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <%= @speaker.description %>
      </p>
  </div>
</div>
<div class="clear-fix"><br><br></div>
<% if is_an_admin? %>
  <div class="row">
    <div class="col-6 text-center"><%= link_to 'Back', speakers_path, class:" btn btn-outline-secondary btn-sm"%></div>
    <div class="col-6 text-center"><%= link_to 'Edit', edit_speaker_path(@speaker), class:" btn btn-outline-primary btn-sm" %></div>
  </div>
<% else %>
  <div class="col-12 text-center"><%= link_to 'Back', speakers_path, class:" btn btn-outline-secondary btn-sm"%></div>
<% end %>
