<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @speaker.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @speaker.last_name %>
</p>

<p>
  <strong>Profession 1:</strong>
  <%= @speaker.profession_1 %>
</p>

<p>
  <strong>Profession 2:</strong>
  <%= @speaker.profession_2 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @speaker.description %>
</p>

<%= link_to 'Edit', edit_speaker_path(@speaker) %> |
<%= link_to 'Back', speakers_path %>
