<header>
  <nav class="navbar navbar-expand-md bg-custom fixed-top">
    <div class="container">
    <a class="navbar-brand" href="/"><img src="https://ascheri-academy.s3.eu-west-2.amazonaws.com/logo3.png" alt="logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item <%= "active" if current_page?(root_path) %> ">
          <%= link_to "Home", root_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(academy_path) %> ">
          <%= link_to "La Academy", academy_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(corsi_path) %> ">
          <%= link_to "Corsi", corsi_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(notizie_path) %> ">
          <%= link_to "Ultime Notizie", notizie_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(supporto_path) %> ">
          <%= link_to "Supporto",supporto_path, class:"nav-link" %>
        </li>
        <li class="nav-item <%= "active" if current_page?(contatti_path) %> ">
          <%= link_to "Contatti", contatti_path, class:"nav-link" %>
        </li>

      </ul>
    </div>
    </div>
  </nav>
</header>
